# b/177780314
dontaudit hal_power_default hal_power_default:capability dac_read_search ;
dontaudit hal_power_default cgroup:file read ;
dontaudit hal_power_default cgroup:file read ;
dontaudit hal_power_default cgroup:file read ;
dontaudit hal_power_default cgroup:file read ;
dontaudit hal_power_default cgroup:file read ;
dontaudit hal_power_default cgroup:file read ;
dontaudit hal_power_default cgroup:file read ;
dontaudit hal_power_default hal_power_default:capability dac_read_search ;
dontaudit hal_power_default cgroup:file read ;
dontaudit hal_power_default cgroup:file read ;
dontaudit hal_power_default cgroup:file read ;
dontaudit hal_power_default cgroup:file read ;
dontaudit hal_power_default cgroup:file read ;
