# b/143734628
dontaudit hal_graphics_composer_default diag_device:chr_file { ioctl open read write };
dontaudit hal_graphics_composer_default fwk_sensor_hwservice:hwservice_manager find;
dontaudit hal_graphics_composer_default ion_device:chr_file write;
dontaudit hal_graphics_composer_default oemfs:dir search;
dontaudit hal_graphics_composer_default persist_display_file:file { getattr open read };
dontaudit hal_graphics_composer_default sysfs:file { getattr open read };
dontaudit hal_graphics_composer_default sysfs_msm_subsys:dir search;
dontaudit hal_graphics_composer_default sysfs_msm_subsys:file { getattr open read };
dontaudit hal_graphics_composer_default system_server:binder { call transfer };
