# b/177780314
dontaudit hal_power_default hal_power_default:capability dac_read_search ;
# b/178755882
dontaudit hal_power_default hal_power_default:capability dac_override ;
dontaudit hal_power_default hal_power_default:capability dac_override ;
