# b/152624075
dontaudit hal_power_default self:capability { dac_override dac_read_search };
dontaudit hal_power_default system_data_root_file:dir read;
