# b/150278844
dontaudit hal_sensors_default diag_device:chr_file { ioctl open read write };
dontaudit hal_sensors_default mnt_vendor_file:dir search;
dontaudit hal_sensors_default persist_file:dir search;
dontaudit hal_sensors_default persist_file:lnk_file read;
dontaudit hal_sensors_default self:qipcrtr_socket { create getattr read setopt write };
dontaudit hal_sensors_default sensors_persist_file:dir search;
dontaudit hal_sensors_default sensors_persist_file:file { getattr open read };
dontaudit hal_sensors_default sensors_vendor_data_file:dir search;
dontaudit hal_sensors_default vndbinder_device:chr_file { ioctl map open read write };
