# b/149467103
dontaudit hal_dumpstate_impl display_vendor_data_file:dir search;

# b/149467108
dontaudit hal_dumpstate_impl sysfs_thermal:dir { open read search };
dontaudit hal_dumpstate_impl sysfs_thermal:file { open read };
dontaudit hal_dumpstate_impl sysfs:dir { open read };
dontaudit hal_dumpstate_impl sysfs:file { getattr open read };

# b/149468579
dontaudit hal_dumpstate_impl debugfs_tracing_instances:dir search;
