# b/146421241
dontaudit logger_app vendor_radio_data_file:dir { add_name create getattr open read remove_name search setattr write };
dontaudit logger_app vendor_radio_data_file:file { create getattr open setattr unlink write };
