# b/143850724
dontaudit netmgrd diag_device:chr_file { ioctl open read write };
dontaudit netmgrd hwservicemanager:binder { call transfer };
dontaudit netmgrd hwservicemanager_prop:file { getattr map open read };
dontaudit netmgrd init:unix_stream_socket connectto;
dontaudit netmgrd kernel:system module_request;
dontaudit netmgrd netd:binder call;
dontaudit netmgrd netmgrd_data_file:dir { add_name search write };
dontaudit netmgrd netmgrd_data_file:file { append create getattr open setattr };
dontaudit netmgrd netmgrd_socket:dir { add_name search write };
dontaudit netmgrd netmgrd_socket:sock_file { create setattr };
dontaudit netmgrd node:tcp_socket node_bind;
dontaudit netmgrd node:udp_socket node_bind;
dontaudit netmgrd port:tcp_socket name_bind;
dontaudit netmgrd port:udp_socket name_bind;
dontaudit netmgrd proc_net:file { getattr open read write };
dontaudit netmgrd property_socket:sock_file write;
dontaudit netmgrd self:capability { net_admin net_raw setgid setpcap setuid };
dontaudit netmgrd self:netlink_generic_socket { bind create write };
dontaudit netmgrd self:netlink_route_socket { bind create nlmsg_write read write };
dontaudit netmgrd self:netlink_xfrm_socket { bind create };
dontaudit netmgrd self:tcp_socket { bind create getattr ioctl setopt };
dontaudit netmgrd self:udp_socket { bind create getattr ioctl setopt };
dontaudit netmgrd sysfs_msm_subsys:dir { open read search };
dontaudit netmgrd sysfs_net:dir search;
dontaudit netmgrd sysfs_net:file { getattr open read write };
dontaudit netmgrd sysfs_soc:dir search;
dontaudit netmgrd sysfs_soc:file { getattr open read };
dontaudit netmgrd sysfs_ssr:file { open read };
dontaudit netmgrd system_net_netd_hwservice:hwservice_manager find;
dontaudit netmgrd system_suspend_hwservice:hwservice_manager find;
dontaudit netmgrd vendor_default_prop:property_service set;
