# b/145735441
dontaudit ramdump block_device:dir search;
dontaudit ramdump gsi_metadata_file:dir search;
dontaudit ramdump init:unix_stream_socket connectto;
dontaudit ramdump metadata_file:dir search;
dontaudit ramdump misc_block_device:blk_file { getattr open read write };
dontaudit ramdump proc_cmdline:file { getattr open read };
dontaudit ramdump property_socket:sock_file write;
dontaudit ramdump public_vendor_default_prop:file { getattr map open read };
dontaudit ramdump ramdump_vendor_data_file:dir search;
dontaudit ramdump ramdump_vendor_data_file:file { getattr ioctl open read write };
dontaudit ramdump self:capability sys_rawio;
dontaudit ramdump vendor_ramdump_prop:file { getattr map open read };
dontaudit ramdump vendor_ramdump_prop:property_service set;
