# b/145578727
dontaudit rfs_access mnt_vendor_file:dir search;
dontaudit rfs_access mpss_rfs_data_file:dir { add_name remove_name search write };
dontaudit rfs_access mpss_rfs_data_file:file { create getattr open read unlink write };
dontaudit rfs_access persist_file:dir search;
dontaudit rfs_access persist_rfs_file:dir { open read search setattr };
dontaudit rfs_access persist_rfs_file:file { getattr open read setattr };
dontaudit rfs_access persist_rfs_shared_hlos_file:dir { open read search setattr };
dontaudit rfs_access rfs_tombstone_data_file:dir { search setattr };
dontaudit rfs_access self:capability2 block_suspend;
dontaudit rfs_access self:capability { chown setgid setpcap setuid };
dontaudit rfs_access self:qipcrtr_socket { connect create getattr read setopt write };
dontaudit rfs_access sysfs_wake_lock:file { append open };
