# b/145578895
dontaudit thermal-engine self:netlink_kobject_uevent_socket { bind create getopt read setopt };
dontaudit thermal-engine self:qipcrtr_socket { create getattr read setopt write };
dontaudit thermal-engine socket_device:dir { add_name write };
dontaudit thermal-engine socket_device:sock_file { create setattr };
dontaudit thermal-engine sysfs_batteryinfo:dir search;
dontaudit thermal-engine sysfs:dir { open read };
dontaudit thermal-engine sysfs_leds:dir search;
dontaudit thermal-engine sysfs_msm_subsys:dir { open read search };
dontaudit thermal-engine sysfs_msm_subsys:file { getattr open read };
dontaudit thermal-engine sysfs_soc:dir search;
dontaudit thermal-engine sysfs_soc:file { getattr open read };
dontaudit thermal-engine sysfs_ssr:file { open read };
dontaudit thermal-engine sysfs_thermal:dir { open read search };
dontaudit thermal-engine sysfs_thermal:file { getattr open read write };
