# b/145580173
dontaudit time_daemon mnt_vendor_file:dir search;
dontaudit time_daemon persist_file:dir search;
dontaudit time_daemon persist_time_file:dir search;
dontaudit time_daemon persist_time_file:file { open read };
dontaudit time_daemon rtc_device:chr_file { ioctl open read };
dontaudit time_daemon self:capability { dac_read_search sys_time };
dontaudit time_daemon self:qipcrtr_socket { create getattr read setopt write };
dontaudit time_daemon sysfs_msm_subsys:dir { open read search };
dontaudit time_daemon sysfs_soc:dir search;
dontaudit time_daemon sysfs_soc:file { getattr open read };
dontaudit time_daemon sysfs_ssr:file { open read };
