# b/157915098
dontaudit untrusted_app default_android_hwservice:hwservice_manager find;
dontaudit untrusted_app vendor_file:file { execute getattr map open read };
