# b/158447828
dontaudit vendor_init debugfs_tracing_instances:dir { add_name create write };
dontaudit vendor_init debugfs_tracing_instances:file write;
