# b/143850724
# dontaudit netmgrd system_suspend:binder call;
# dontaudit system_suspend netmgrd:binder transfer;

# b/147202888
dontaudit priv_app qchook_service:service_manager find;
